#searchPanel {
  border: 50 px;
  background-color: lightblue;
  padding: 50px;
}

#results {
  padding: 50px;
  border: 50px;
  background-color: lightgreen;
  width: auto;
  overflow: auto;
}

Div {
  float: left;
  display: block;
  margin: 10px;
}

.resultLabel {
  float: left;
  font-weight: bold;
  width: fit-content;
}

#divSubmit {
  clear: both;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 95%;
  height: 30px;
}
